<?xml version="1.0" encoding="utf-8"?>
<!--
    * Copyright (c) 2023 Vincent VILLOT
    *
    * Ce fichier fait partie de l'application MilkWay.
    *
    * MilkWay est un logiciel libre : vous pouvez le redistribuer
    * et/ou le modifier selon les termes de la Licence Publique Générale GNU
    * telle que publiée par la Free Software Foundation, version 3 de la licence
    * ou toute version ultérieure.
    *
    * MilkWay est distribué dans l'espoir qu'il sera utile,
    * mais SANS AUCUNE GARANTIE ; sans même la garantie implicite de QUALITÉ
    * MARCHANDE ou D'ADÉQUATION À UN USAGE PARTICULIER. Consultez la Licence
    * Publique Générale GNU pour plus de détails.
    *
    * Vous devez avoir reçu une copie de la Licence Publique Générale GNU
    * en même temps que ce programme. Si ce n'est pas le cas, consultez
    * <https://www.gnu.org/licenses/>.
    *
    * URL des sources et de la documentation du projet MilkWay : https://github.com/Farvil/MilkWay
    */
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- android:name=".App" = Ajout singleton App pour acceder aux ressources depuis un contexte statique -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MilkWay"
        tools:targetApi="31"
        android:name=".App">

        <activity
            android:name=".AproposActivity"
            android:label="@string/title_activity_apropos_activity"
            android:parentActivityName=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_preference_activity"
            android:parentActivityName=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>